<div class="container">
  <h1 class="text-align-center margin-top-40 font-rubik font-weight-bold font-color-primary">Tags</h1>
  <mat-tab label="Master Tags">
    <div class="padding-left-5 padding-right-5">
      <mat-card class="margin-top-7 margin-bottom-7">
        <h4 class="margin-0">New master tag</h4>
        <div fxLayout="row">
          <form class="w100">
            <div fxFlex class="margin-right-15">
              <mat-form-field class="display-block">
                <input matInput placeholder="Master tag name" [(ngModel)]="newType.type"
                       [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="primary" class="centered-block" (click)="saveNewTagType()"
                      type="submit">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
    <div class="padding-left-5 padding-right-5">
      <mat-list>
        <h3 matSubheader>Tags</h3>
        <mat-list-item *ngFor="let tagType of allTypes; let i = index;" class="mat-2-line">
          <mat-icon matListIcon *ngIf="tagType.id !== this.editedTagType.id">label</mat-icon>
          <mat-icon matListIcon *ngIf="tagType.id === this.editedTagType.id">edit</mat-icon>
          <p matLine *ngIf="tagType.id === this.editedTagType.id"></p>
          <input matLine matInput placeholder="Tag" [(ngModel)]="editedTagType.type" *ngIf="tagType.id === this.editedTagType.id">
          <p matLine *ngIf="tagType.id !== this.editedTagType.id" class="font-weight-bold" style="font-size: 12px"> #MasterTag </p>
          <h3 matLine *ngIf="tagType.id !== this.editedTagType.id">{{tagType.type}}</h3>
          <div class="float-right">
            <button mat-icon-button color="warn" class="margin-left-15" *ngIf="tagType.id !== this.editedTagType.id" (click)="askForDeleteType(tagType)">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary" class="margin-left-15" (click)="setInEditType(tagType)"
                    *ngIf="tagType.id !== this.editedTagType.id">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="margin-left-15" (click)="clearEditType()"
                    *ngIf="tagType.id === this.editedTagType.id">
              <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button color="primary" class="margin-left-15" (click)="saveEditedTagType(i)"
                    *ngIf="tagType.id === this.editedTagType.id">
              <mat-icon>save</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-tab>
  <mat-tab-group>
    <mat-tab [label]="type.type" *ngFor="let type of allTypes; let typeIndex = index">
      <div class="padding-left-5 padding-right-5">
        <mat-card class="margin-top-7 margin-bottom-7">
          <h4 class="margin-0">New tag</h4>
          <div fxLayout="row">
            <form class="w100">
              <div fxFlex class="margin-right-15">
                <mat-form-field class="display-block">
                  <input matInput placeholder="Master tag name" [(ngModel)]="newTags[typeIndex].tag"
                         [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div>
                <div class="float-right h100">
                  <button mat-raised-button color="primary" class="centered-block" (click)="saveTagNewTag(typeIndex)"
                          type="submit">
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
                <div class="float-left margin-right-15 h100">
                  <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                          class="centered-block" (click)="newTags[typeIndex].favorite = !newTags[typeIndex].favorite">
                    <mat-icon *ngIf="newTags[typeIndex].favorite">star</mat-icon>
                    <mat-icon *ngIf="!newTags[typeIndex].favorite">star_border</mat-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </mat-card>
      </div>

      <div class="padding-left-5 padding-right-5" *ngIf="filterTagsByType(allTags, type).length > 0">
        <mat-list>
          <h3 matSubheader>Tags</h3>
          <mat-list-item *ngFor="let tag of filterTagsByType(allTags, type); let i = index;" class="mat-2-line">
            <mat-icon matListIcon *ngIf="tag.id !== this.editedTag.id">label</mat-icon>
            <mat-icon matListIcon *ngIf="tag.id === this.editedTag.id">edit</mat-icon>
            <p matLine *ngIf="tag.id === this.editedTag.id"></p>
            <input matLine matInput placeholder="Tag" [(ngModel)]="editedTag.tag" *ngIf="tag.id === this.editedTag.id">
            <p matLine *ngIf="tag.id !== this.editedTag.id" class="font-weight-bold" style="font-size: 12px"> #{{type.type}} </p>
            <h3 matLine *ngIf="tag.id !== this.editedTag.id">{{tag.tag}}</h3>
            <div class="float-right">
              <button mat-icon-button color="warn" (click)="switchFavorite(tag)" *ngIf="tag.id !== this.editedTag.id">
                <mat-icon *ngIf="tag.favorite">favorite</mat-icon>
                <mat-icon *ngIf="!tag.favorite">favorite_border</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="margin-left-15" *ngIf="tag.id !== this.editedTag.id" (click)="askForDelete(tag)">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button mat-icon-button color="primary" class="margin-left-15" (click)="setInEdit(tag)"
                      *ngIf="tag.id !== this.editedTag.id">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="margin-left-15" (click)="clearEdit()"
                      *ngIf="tag.id === this.editedTag.id">
                <mat-icon>clear</mat-icon>
              </button>
              <button mat-icon-button color="primary" class="margin-left-15" (click)="saveEditedTag(i)"
                      *ngIf="tag.id === this.editedTag.id">
                <mat-icon>save</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
