/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

$primary-color: #3f51b5;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: $primary-color;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

/* cursor ------------------------------------------------------------------------------------------------------------*/

.pointer {
  cursor: pointer !important;
}

/* text --------------------------------------------------------------------------------------------------------------*/

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-color-primary {
  color: $primary-color;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-35 {
  font-size: 30px !important;
}

.font-size-100 {
  font-size: 100%;
}

.text-align-center {
  text-align: center;
}

/* display -----------------------------------------------------------------------------------------------------------*/

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

/* margin  -----------------------------------------------------------------------------------------------------------*/

.margin-0 {
  margin: 0 !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

/* padding -----------------------------------------------------------------------------------------------------------*/

.padding-15 {
  padding: 15px;
}

.padding-top-15 {
  padding-top: 15px;

.padding-30 {
  padding: 30px;
}
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-30 {
  padding: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}



.padding-top-5vw {
  padding-top: 5vw;
}

.padding-bottom-5vw {
  padding-bottom: 5vw;
}

/* sizing ------------------------------------------------------------------------------------------------------------*/

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.icon-button {
  min-width: 60px !important;
  height: 60px !important;
  width: 60px !important;
  padding: 10px !important;
  font-size: 30px;
}

/* positioning -------------------------------------------------------------------------------------------------------*/

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.centered-block {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.container {
  margin: 0 auto !important;
  float: none !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 575.98px) {
  .container {

  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
