/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

/* cursor ------------------------------------------------------------------------------------------------------------*/

.pointer {
  cursor: pointer;
}

/* text --------------------------------------------------------------------------------------------------------------*/

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-color-primary {
  color: #3f51b5;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-35 {
  font-size: 30px !important;
}

.font-size-100 {
  font-size: 100%;
}

.text-align-center {
  text-align: center;
}

/* display -----------------------------------------------------------------------------------------------------------*/

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

/* margin  -----------------------------------------------------------------------------------------------------------*/

.margin-0 {
  margin: 0 !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

/* padding -----------------------------------------------------------------------------------------------------------*/

.padding-15 {
  padding: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-30 {
  padding: 30px;
}

/* sizing ------------------------------------------------------------------------------------------------------------*/

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.icon-button {
  min-width: 60px !important;
  height: 60px !important;
  width: 60px !important;
  padding: 10px !important;
  font-size: 30px;
}

/* positioning -------------------------------------------------------------------------------------------------------*/

.centered-block {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}


.container {
  margin: 0 auto !important;
  float: none !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 575.98px) {
  .container {

  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
