/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~@angular/material/theming';
@import '~@fortawesome/fontawesome-free/css/all.css';

@include mat-core();
//
//$primary-color: #3f51b5;
//
//
$custom-dark-theme: mat-dark-theme(mat-palette($mat-blue, 800, 800, 800), mat-palette($mat-blue, 50, 50, 50), mat-palette($mat-red));

@mixin custom-theme-mixin($theme) {
  $primary-color: map-get($theme, primary);

  .mat-button-toggle-checked {
    background-color: mat-color($primary-color);
    color: mat-contrast($primary-color, 600) !important;
  }

  .border-primary-color {
  }
}

$custom-light-theme: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-indigo, 50, 50, 50), mat-palette($mat-red, 900));


@include angular-material-theme($custom-light-theme);
@include custom-theme-mixin($custom-light-theme);
//@include angular-material-typography($custom-dark-theme-typography)

.dark-theme {
  @include angular-material-color($custom-dark-theme);
  @include custom-theme-mixin($custom-dark-theme);
}

.unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

.full-height-container {
  min-height: 100vh;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.main-row-vertical-center {
  margin-top: calc(50vh - 100px);
  transform: translateY(-50%)
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  //background: $primary-color;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  //background: $primary-color;
}

.hide-scroll::-webkit-scrollbar {
  height: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.overflow-hidden {
  overflow: hidden;
}

/* cursor ------------------------------------------------------------------------------------------------------------*/

.pointer {
  cursor: pointer !important;
}

/* text --------------------------------------------------------------------------------------------------------------*/

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-color-primary {
  //color: $primary-color;
}

.font-color-grey {
  color: #757575;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-35 {
  font-size: 30px !important;
}

.font-size-100 {
  font-size: 100px;
}

.font-size-100-percent {
  font-size: 100%;
}

.text-align-center {
  text-align: center;
}

a.no-style {
  color: inherit;
  text-decoration: none; /* no underline */
}

/* display -----------------------------------------------------------------------------------------------------------*/

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

/* margin  -----------------------------------------------------------------------------------------------------------*/

.margin-auto {
  margin: auto !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-7 {
  margin-top: 7px !important;
}

.margin-right-7 {
  margin-right: 7px !important;
}

.margin-bottom-7 {
  margin-bottom: 7px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

/* padding -----------------------------------------------------------------------------------------------------------*/

.padding-0 {
  padding: 0 !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-30 {
  padding: 30px;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-56 {
  padding-top: 56px;
}


.padding-top-5vw {
  padding-top: 5vw;
}

.padding-bottom-5vw {
  padding-bottom: 5vw;
}

/* sizing ------------------------------------------------------------------------------------------------------------*/

.w200 {
  width: 200px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.h100vh {
  height: 100vh;
}

.icon-button {
  min-width: 60px !important;
  height: 60px !important;
  width: 60px !important;
  padding: 10px !important;
  font-size: 30px;
}

/* positioning -------------------------------------------------------------------------------------------------------*/

.justify-content-center {
  justify-content: center;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.position-fixed {
  position: fixed !important;
}

.z-index-1000000 {
  z-index: 1000000 !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.top-0 {
  top: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.centered-block {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.container {
  margin: 0 auto !important;
  float: none !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.white-space-normal {
  white-space: normal;
}

.full-width-container {
  max-width: 100vw;
  min-height: calc(100vh - 40px);
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 575.98px) {
  .container {

  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* buttons animation -------------------------------------------------------------------------------------------------------*/

.mat-fab.animated {
  width: 56px !important;
  height: 56px !important;
  transition: width .5s !important;
  border-radius: 56px !important;
}

.mat-fab.animated label {
  font-size: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity .5s linear, font-size .5s linear !important;
  margin-left: 0 !important;
}

.mat-fab.animated:hover {
  width: 200px !important;
}

.mat-fab.animated:hover label {
  opacity: 1 !important;
  font-size: 20px !important;
  visibility: visible !important;
  margin-left: 10px !important;
  transition: opacity .5s linear, margin-left .5s !important;
}

.mat-mini-fab.animated {
  width: 40px !important;
  transition: width .5s !important;
  border-radius: 40px !important;
}

.mat-mini-fab.animated label {
  font-size: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity .5s linear, font-size .5s linear !important;
  margin-left: 0 !important;
}

.mat-mini-fab.animated:hover {
  width: 120px !important;
  padding-left: 15px;
  padding-right: 20px;
}

.mat-mini-fab.animated:hover label {
  opacity: 1 !important;
  font-size: 16px !important;
  visibility: visible !important;
  margin-left: 10px !important;
  transition: opacity .5s linear, margin-left .5s !important;
}
