<div class="full-width-container padding-left-20 padding-right-20">
  <h1 class="text-align-center margin-top-40 font-rubik font-weight-bold font-color-primary">Users</h1>
  <div fxLayout="row">
    <div fxFlex="100">
      <mat-table [dataSource]="users" class="margin-top-15">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <div>{{user.id}}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <div>
              {{user.firstName}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <div>
              {{user.lastName}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <div>{{user.email}}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valid">
          <mat-header-cell *matHeaderCellDef> Valid </mat-header-cell>
          <mat-cell *matCellDef="let user">
<!--            <mat-icon *ngIf="!user.valid">radio_button_unchecked</mat-icon>-->
<!--            <mat-icon *ngIf="user.valid">check_circle_outline</mat-icon>-->
            <mat-slide-toggle [(ngModel)]="user.valid" color="primary" (change)="saveUser(user)"></mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ban">
          <mat-header-cell *matHeaderCellDef> Ban </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-slide-toggle [(ngModel)]="user.ban" color="primary" (change)="saveUser(user)"></mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-form-field>
              <mat-select [(ngModel)]="user.role" (selectionChange)="saveUser(user)">
                <mat-option [value]="'ROLE_MEMBER'">
                  ROLE_MEMBER
                </mat-option>
                <mat-option [value]="'ROLE_ADMIN'">
                  ROLE_ADMIN
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
