<div class="container">
  <div fxLayout="row" class="justify-content-center main-row-vertical-center">
    <div fxFlex="50" fxFlex.lt-sm="80">
      <!--      <mat-card *ngIf="this.status === 'REGISTER'">-->
      <mat-card>

        <form (ngSubmit)="subscribe()" [formGroup]="registerForm">
          <mat-form-field class="w100">
            <input matInput placeholder="First name" formControlName="firstNameFormControl"
                   [(ngModel)]="registerDTO.firstname">
            <mat-error *ngIf="registerForm.get('firstNameFormControl').hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w100">
            <input matInput placeholder="Last name" formControlName="lastNameFormControl"
                   [(ngModel)]="registerDTO.lastname">
            <mat-error *ngIf="registerForm.get('lastNameFormControl').hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="w100">
            <input matInput placeholder="Email" formControlName="emailFormControl" [(ngModel)]="registerDTO.email">
            <mat-error
              *ngIf="registerForm.get('emailFormControl').hasError('email') && !registerForm.get('emailFormControl').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registerForm.get('emailFormControl').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w100">
            <input matInput placeholder="Password" formControlName="passwordFormControl" type="password">
            <mat-error *ngIf="registerForm.get('passwordFormControl').hasError('pattern')">
              Use lowercase, uppercase, numbers and at least 8 caracters
            </mat-error>
            <mat-error *ngIf="registerForm.get('passwordFormControl').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w100">
            <input matInput placeholder="Confirm password" formControlName="confirmPasswordFormControl" type="password"
                   [(ngModel)]="registerDTO.password">
            <mat-error *ngIf="registerForm.get('confirmPasswordFormControl').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-error *ngIf="registerForm.hasError('mismatch')">
            Passwords are <strong>not</strong> matching
          </mat-error>

          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-raised-button color="primary" type="subscribe"
                    [disabled]="registerForm.invalid || registerForm.pristine">Sign up
            </button>
          </div>
        </form>
      </mat-card>
      <!--      <mat-card *ngIf="this.status === 'CONFIRM'">-->
    </div>
  </div>
</div>
