<div fxLayout="row" *ngFor="let source of this.sources; let i = index;">
  <div fxFlex="6%">
    <button mat-button color="warn" class="centered-block"
            [ngClass]="{'display-none': source.title === undefined && source.link === undefined}"><i
      class="fas fa-times"></i></button>
  </div>
  <div fxFlex="47%" class="padding-right-15">
    <mat-form-field class="display-block">
      <input matInput placeholder="Title" [(ngModel)]="source.title" (keyup)="editTabOnType(i)">
    </mat-form-field>
  </div>
  <div fxFlex="47%" class="padding-right-15">
    <mat-form-field class="display-block">
      <input matInput placeholder="Link" [(ngModel)]="source.link" (keyup)="editTabOnType(i)">
    </mat-form-field>
  </div>
</div>
