.vertical-video-carousel-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  transition-delay: 800ms;
  scroll-behavior: smooth;
}

.overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.translateY-100 {
  transform: translateY(-100%) !important;
}

.share-button {
  right: 15px;
  top: 15px;
}

.title-chips {
  top: 15px;
  left: 15px;
  height: 40px;
  border-radius: 40px;
}
