<div class="container">
  <div fxLayout="row">
    <div fxFlex="100">
      <mat-vertical-stepper>
        <mat-step label="Title, subtitle & tags" class="padding-top-15">
          <ed-edit-title-subtitle [(data)]="newData"></ed-edit-title-subtitle>
          <mat-card>
<!--            <ed-edit-tags [(tags)]="newData.tags" [createNewTags]="true"></ed-edit-tags>-->
            <ed-edit-tags-v2 [(tags)]="newData.tags"></ed-edit-tags-v2>
          </mat-card>
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>

        <mat-step label="Text" class="padding-top-15">
          <mat-card>
            <div>
              <ed-edit-text [(text)]="newData.text"></ed-edit-text>
            </div>
          </mat-card>
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>

        <mat-step label="Medias" class="padding-top-15">
          <ed-edit-medias [(medias)]="this.newData.medias"></ed-edit-medias>
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>

        <mat-step label="Sources" class="padding-top-15">
          <ed-edit-sources [(sources)]="this.newData.sources"></ed-edit-sources>
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>

        <mat-step label="Validation" class="padding-top-15">
          <div fxLayout="row" fxLayout.lt-sm="column" [ngClass.lt-sm]="'sm-validation'">
            <div fxFlex="40" class="padding-30">
              <ed-card-data [data]="newData"></ed-card-data>
            </div>
            <div fxFlex="60" class="padding-30">
              <ed-edit-icon [(icon)]="this.newData.icon"></ed-edit-icon>
            </div>
          </div>
          <div fxLayout="row">
            <div class="fill-remaining-space"></div>
            <button (click)="createData()" color="primary" mat-button type="subsribe">Validate</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
