<div class="container">
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-vertical-stepper>
          <mat-step label="Titre & Sous titre">
            <form [formGroup]="firstFormGroup">
              <mat-form-field class="display-block">
                <input matInput placeholder="Title" formControlName="title" [(ngModel)]="newData.title">
              </mat-form-field>
              <mat-form-field class="display-block">
                <input matInput placeholder="Sous titre" formControlName="subtitle" [(ngModel)]="newData.subtitle">
              </mat-form-field>
              <div fxLayout="row">
                <span class="fill-remaining-space"></span>
                <button mat-raised-button matStepperNext color="primary" type="subscribe">Next</button>
              </div>
            </form>

          </mat-step>
          <mat-step label="Validation">
            <div fxLayout="row">
              {{ this.newData | json }}
            </div>
            <div fxLayout="row">
              <form (ngSubmit)="createData()">
                <button mat-raised-button color="primary" type="subsribe">Validate</button>
              </form>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
</div>
