<div fxLayout.gt-md="row" fxLayout.lt-md="column" *ngFor="let video of this.videos; let i = index;">
  <div fxFlex="55%" class="padding-right-15">
    <mat-form-field class="display-block">
      <input matInput placeholder="Title" [(ngModel)]="video.title" (keyup)="addVideoLink(i)">
    </mat-form-field>
    <mat-form-field class="display-block">
      <input matInput placeholder="Link" [(ngModel)]="video.link" (keyup)="addVideoLink(i)">
    </mat-form-field>
  </div>
  <div fxFlex="45%" class="padding-right-15 position-relative">
    <ed-video-embed [link]="video.link" *ngIf="video.link != ''" [position]="'static'"></ed-video-embed>
    <button mat-mini-fab color="warn" class="position-absolute" style="right: 0; bottom: 0;"
            *ngIf="video.link" (click)="removeVideo(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
