<div [class.dark-theme]="isCurrentlyDarkTheme()" (swipe)="consoleLog()">
  <ed-header (openMenuButton)="drawer.toggle()"></ed-header>

  <mat-drawer-container class="example-container full-height-container" autosize>
    <mat-drawer #drawer class="example-sidenav padding-top-56 w200 h100vh position-fixed top-0" mode="push" [position]="'end'">
      <ed-mobile-menu-links (closeMenuButton)="drawer.toggle()"></ed-mobile-menu-links>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="padding-top-40">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>

  <ed-new-data-button></ed-new-data-button>
</div>


