<div class="full-width-container" style="overflow: hidden">
  <div fxLayout="row" class="main-row-vertical-center">
    <div fxFlex.gt-sm="50" fxFlex="100">
      <div style="width: 80%; margin: 0 auto;">
        <ed-login></ed-login>
      </div>
    </div>
  </div>
</div>
<div style="position: absolute; top: 0; right: 0; height: 100vh; width: 50vw;" fxShow="false" fxShow.gt-sm="true">
  <div class="centered-block position-absolute">
    <i class="fas fa-balance-scale-right font-color-primary" style="font-size: 400px;"></i>
    <div class="text-align-center font-weight-bold font-size-100 font-color-primary">ezDebate</div>
  </div>
</div>
