<div fxLayout="row">
  <div class="dropzone margin-bottom-15" dropZone (fileDropped)="addFilesInToUploadFiles($event)">
    <input type="file" multiple (change)="addFilesInToUploadFiles($event?.target?.files)"/>
    <mat-icon class="font-size-35">backup</mat-icon>
    <h3>Drag and drop file here <br> or </h3>
    <button mat-raised-button color="primary">Browse for file</button>
  </div>
</div>
<div *ngIf="displayFiles">
  <div *ngFor="let fileKey of keySet" fxLayout="row">
    <mat-card fxFlex="100" class="margin-bottom-15" *ngIf="!hideWhenLoaded || (hideWhenLoaded && uploadStatus.get(fileKey) && uploadStatus.get(fileKey).progression !== 100)">
      <mat-icon class="font-size-35 margin-right-15">photo</mat-icon>
      <span class="text-vertical-align-35">{{ fileKey }}</span>
      <mat-spinner [diameter]="35" class="display-inline-block float-right margin-right-15" color="accent" *ngIf="uploadStatus.get(fileKey) && uploadStatus.get(fileKey).progression !== 100" [value]="uploadStatus.get(fileKey).progression" [mode]="'determinate'"></mat-spinner>
      <mat-icon class="font-size-35 display-inline-block float-right margin-right-15" *ngIf="uploadStatus.get(fileKey) && uploadStatus.get(fileKey).progression == 100">done</mat-icon>
    </mat-card>
  </div>
</div>
