<div class="container unselectable" *ngIf="this.data">
  <div fxLayout="row">
    <div fxFlex="100" *ngIf="this.editMod === false">
      <h1>{{ this.data.title }}</h1>
      <h2>{{ this.data.subtitle }}</h2>
    </div>
  </div>

  <div *ngIf="this.editMod === true" class="margin-bottom-15">
    <div fxLayout="row">
      <h2 fxFlex="100">
        Titre & Subtitle
      </h2>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15">
        <ed-edit-title-subtitle [(data)]="data"></ed-edit-title-subtitle>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <h2 fxFlex="100">
      Tags
    </h2>
  </div>
  <div fxLayout="row" *ngIf="this.editMod === false">
    <ed-tag-list [tags]="this.data.tags"></ed-tag-list>
  </div>
  <div *ngIf="this.editMod === true">
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15 padding-bottom-15">
        <ed-edit-tags [(tags)]="data.tags"></ed-edit-tags>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <h2 fxFlex="100">
      Videos
    </h2>
  </div>
  <div *ngIf="this.editMod === false">
    <div fxLayout="row" *ngIf="this.data.videos.length > 0">
      <div #verticalVideoCarouselContainer fxFlex="100">
        <ed-horizontal-video-carousel [containerWidth]="verticalVideoCarouselContainer.offsetWidth" [width]="70"
                                      [videos]="this.data.videos"></ed-horizontal-video-carousel>
      </div>
    </div>
  </div>
  <div *ngIf="this.editMod === true" class="margin-top-15">
    <ed-edit-videos [(videos)]="this.data.videos"></ed-edit-videos>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
    </div>
  </div>


  <div fxLayout="row" class="padding-bottom-15 padding-top-15" *ngIf="this.editMod === false">
    <div style="min-height: 30px;">{{ this.data.text }}</div>
  </div>
  <div *ngIf="this.editMod === true">
    <div fxLayout="row">
      <h2 fxFlex="100">
        Content
      </h2>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15">
        <mat-form-field class="example-full-width display-block">
          <textarea matInput placeholder="Main content" rows="8" [(ngModel)]="data.text"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
    </div>
  </div>


  <div fxLayout="row">
    <h2 fxFlex="100">
      Sources
    </h2>
  </div>
  <div *ngIf="this.editMod === false">
    <ed-masonry-source-listing [sources]="data.sources" *ngIf="data && data.sources"></ed-masonry-source-listing>
  </div>

  <div *ngIf="this.editMod === true" class="margin-top-15">
    <ed-edit-sources [(sources)]="this.data.sources"></ed-edit-sources>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="primary" (click)="saveData()" class="margin-left-15">Save</button>
    </div>
  </div>
</div>

