<div class="container unselectable" *ngIf="this.data">
  <div fxLayout="row">
    <div fxFlex="100" *ngIf="this.editMod === false">
      <h1>{{ this.data.title }}</h1>
      <mat-divider class="border-primary-color"></mat-divider>
      <h2>{{ this.data.subtitle }}</h2>
    </div>
  </div>

  <div *ngIf="this.editMod === true" class="margin-bottom-15">
    <div fxLayout="row">
      <h2 fxFlex="100">
        Titre & Subtitle
      </h2>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15">
        <ed-edit-title-subtitle [(data)]="data"></ed-edit-title-subtitle>
      </div>
    </div>
  </div>

  <div fxLayout="row" *ngIf="this.editMod === true">
    <h2 fxFlex="100">
      Tags
    </h2>
  </div>
  <div fxLayout="row" *ngIf="this.editMod === false">
    <ed-tag-list [tags]="this.data.tags"></ed-tag-list>
  </div>
  <div *ngIf="this.editMod === true">
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15 padding-bottom-15">
        <mat-card>
          <ed-edit-tags [(tags)]="data.tags" [createNewTags]="true"></ed-edit-tags>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxLayout="row" *ngIf="data?.medias?.length > 0 && this.editMod === true">
    <h2 fxFlex="100">
      Videos
    </h2>
  </div>

  <div *ngIf="this.editMod === false" class="margin-top-40 margin-bottom-40">
    <div fxLayout="row" *ngIf="this.data?.medias?.length > 0">
      <div fxFlex="100" style="height: 200px;" [ngStyle.lt-md]="{'height': '200px'}" [ngStyle.gt-sm]="{'height': '500px'}">
        <ed-media-carousel [medias]="this.data.medias"></ed-media-carousel>
      </div>
    </div>
  </div>
  <div *ngIf="this.editMod === true" class="margin-top-15">
    <ed-edit-medias [(medias)]="this.data.medias"></ed-edit-medias>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
    </div>
  </div>


  <div fxLayout="row" class="padding-bottom-15" *ngIf="this.editMod === false">
    <div style="min-height: 30px;" [innerHTML]="this.data.text"></div>
  </div>
  <div *ngIf="this.editMod === true">
    <div fxLayout="row">
      <h2 fxFlex="100">
        Content
      </h2>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15">
        <ed-edit-text [(text)]="data.text"></ed-edit-text>
      </div>
    </div>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
    </div>
  </div>


  <div fxLayout="row" *ngIf="data.sources.length > 0 || editMod == true">
    <h2 fxFlex="100">
      Sources
    </h2>
  </div>
  <div *ngIf="this.editMod === false">
    <ed-masonry-source-listing [sources]="data.sources" *ngIf="data && data.sources"></ed-masonry-source-listing>
  </div>

  <div *ngIf="this.editMod === true" class="margin-top-15">
    <ed-edit-sources [(sources)]="this.data.sources"></ed-edit-sources>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="primary" (click)="saveData()" class="margin-left-15">Save</button>
    </div>
  </div>
</div>

