<div class="container" *ngIf="this.data" style="-webkit-user-select: none !important; /* Safari */
-moz-user-select: none !important; /* Firefox */
-ms-user-select: none !important; /* IE10+/Edge */
user-select: none !important; /* Standard */
">
  <div fxLayout="row">
    <div fxFlex="100" *ngIf="editableArea !== EditableArea.TITLE_SUBTITLE" holdable
         (holdTime)="holdToEdit($event, EditableArea.TITLE_SUBTITLE)">
      <h1 (mouseenter)="setHover(HoverArea.TITLE)" (mouseleave)="setHover(null)">{{ this.data.title }}
        <ed-badge-button *ngIf="hoverArea === HoverArea.TITLE"
                         (onButtonClick)="setEditableArea(EditableArea.TITLE_SUBTITLE)"
                         [fxHide.lt-sm]="true"></ed-badge-button>
      </h1>
      <h2 (mouseenter)="setHover(HoverArea.SUBTITLE)" (mouseleave)="setHover(null)">{{ this.data.subtitle }}
        <ed-badge-button *ngIf="hoverArea === HoverArea.SUBTITLE"
                         (onButtonClick)="setEditableArea(EditableArea.TITLE_SUBTITLE)"
                         [fxHide.lt-sm]="true"></ed-badge-button>
      </h2>
      <mat-progress-bar mode="determinate" [value]="holding/EDIT_TIME*100" [fxHide.gt-md]="true"
                        *ngIf="holding !== 0 && loadingArea == EditableArea.TITLE_SUBTITLE"
                        class="margin-bottom-15"></mat-progress-bar>
    </div>
  </div>
  <div *ngIf="editableArea === EditableArea.TITLE_SUBTITLE" class="margin-bottom-15">
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15">
        <ed-edit-title-subtitle [(data)]="tempData"></ed-edit-title-subtitle>
      </div>
    </div>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="saveData()" class="margin-left-15">Save</button>
    </div>
  </div>


  <div fxLayout="row" (mouseenter)="setHover(HoverArea.TAGS)" (mouseleave)="setHover(null)"
       *ngIf="editableArea !== EditableArea.TAGS" holdable (holdTime)="holdToEdit($event, EditableArea.TAGS)">
    <ed-tag-list [tags]="this.data.tags"></ed-tag-list>
    <ed-badge-button *ngIf="hoverArea === HoverArea.TAGS" (onButtonClick)="setEditableArea(EditableArea.TAGS)"
                     [fxHide.lt-sm]="true"></ed-badge-button>
  </div>
  <div fxLayout="row">
    <mat-progress-bar mode="determinate" [value]="holding/EDIT_TIME*100" [fxHide.gt-md]="true"
                      *ngIf="holding !== 0 && loadingArea == EditableArea.TAGS"
                      class="margin-top-15 margin-bottom-15"></mat-progress-bar>
  </div>
  <div *ngIf="editableArea === EditableArea.TAGS">
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15 padding-bottom-15">
        <ed-edit-tags [(tags)]="tempData.tags"></ed-edit-tags>
      </div>
    </div>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="saveData()" class="margin-left-15">Save</button>
    </div>
  </div>


  <div fxLayout="row" *ngIf="this.data.videos.length > 0">
    <div #verticalVideoCarouselContainer fxFlex="100">
      <ed-horizontal-video-carousel [containerWidth]="verticalVideoCarouselContainer.offsetWidth" [width]="70"
                                    [videos]="this.data.videos"></ed-horizontal-video-carousel>
    </div>
  </div>


  <div fxLayout="row" class="padding-bottom-15 padding-top-15" (mouseenter)="setHover(HoverArea.TEXT)"
       (mouseleave)="setHover(null)"
       *ngIf="editableArea !== EditableArea.TEXT" holdable (holdTime)="holdToEdit($event, EditableArea.TEXT)">
    <div style="min-height: 30px;">
      {{ this.data.text }}
      <ed-badge-button *ngIf="hoverArea === HoverArea.TEXT" (onButtonClick)="setEditableArea(EditableArea.TEXT)"
                       [fxHide.lt-sm]="true"></ed-badge-button>
    </div>
  </div>
  <div fxLayout="row">
    <mat-progress-bar mode="determinate" [value]="holding/EDIT_TIME*100" [fxHide.gt-md]="true"
                      *ngIf="holding !== 0 && loadingArea == EditableArea.TEXT"
                      class="margin-top-15 margin-bottom-15"></mat-progress-bar>
  </div>
  <div *ngIf="editableArea === EditableArea.TEXT">
    <div fxLayout="row">
      <div fxFlex="100" class="padding-top-15">
        <mat-form-field class="example-full-width display-block">
          <textarea matInput placeholder="Main content" rows="8" [(ngModel)]="tempData.text"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="saveData()" class="margin-left-15">Save</button>
    </div>
  </div>


  <div>
    <h2>Sources</h2>
    <ed-masonry-source-listing [sources]="data.sources" *ngIf="data && data.sources"></ed-masonry-source-listing>
  </div>
</div>

