<div class="container" *ngIf="this.data">
  <div fxLayout="row">
    <div fxFlex="100">
      <h1>{{ this.data.title }}</h1>
      <h2>{{ this.data.subtitle }}</h2>
    </div>
  </div>
  <div fxLayout="row">
    <ed-tag-list [tags]="this.data.tags"></ed-tag-list>
  </div>
  <div fxLayout="row" *ngIf="this.data.videos.length > 0">
    <div #verticalVideoCarouselContainer fxFlex="100">
      <ed-horizontal-video-carousel [containerWidth]="verticalVideoCarouselContainer.offsetWidth" [width]="70" [videos]="this.data.videos"></ed-horizontal-video-carousel>
    </div>
  </div>
  <div fxLayout="row" class="padding-bottom-15 padding-top-15">
    <div fxFlex="100">
      {{ this.data.text }}
    </div>
  </div>
  <div>
    <h2>Sources</h2>
    <ed-masonry-source-listing [sources]="data.sources" *ngIf="data && data.sources"></ed-masonry-source-listing>
  </div>
</div>

