<div class="container" *ngIf="this.data">
  <div fxLayout="row">
    <div fxFlex="100" class="padding-15">
      <h1>{{ this.data.title }}</h1>
      <h2>{{ this.data.subtitle }}</h2>
    </div>
  </div>
  <div fxLayout="row">
    <ed-tag-list [tags]="this.data.tags"></ed-tag-list>
  </div>
  <div fxLayout="row" *ngIf="this.data.videos.length > 0">
    <div #verticalVideoCarouselContainer fxFlex="100" class="padding-15">
      <ed-horizontal-video-carousel [containerWidth]="verticalVideoCarouselContainer.offsetWidth" [width]="70" [videos]="this.data.videos"></ed-horizontal-video-carousel>
    </div>
  </div>
</div>


{{ this.data | json }}
