<div class="container">
  <div fxLayout="row" [ngClass]="this.datas ? 'search-bar-container-top' : 'search-bar-container-middle'" class="margin-bottom-40">
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <h1 class="text-align-center margin-top-40 font-rubik font-weight-bold font-color-primary">Research</h1>
      <mat-form-field appearance="legacy" class="w100">
        <mat-label>Searching ...</mat-label>
        <input matInput [(ngModel)]="this.params" autocomplete="off" (keyup.enter)="search()">
        <mat-icon matSuffix>
          <button mat-mini-fab color="primary" style="z-index: 15" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">

  </div>
<!--  <ed-masonry-data-listing [datas]="this.datas" *ngIf="inited === true"></ed-masonry-data-listing>-->
  <ed-data-listing [datas]="this.datas"></ed-data-listing>
</div>
