<div class="container">
  <div fxLayout="row" class="padding-top-5vw padding-bottom-5vw">
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <mat-form-field appearance="legacy" class="w100">
        <mat-label>Searching ...</mat-label>
        <input matInput (change)="search()" [(ngModel)]="this.params" autocomplete="off">
        <mat-icon matSuffix>
          <button mat-mini-fab color="primary" style="z-index: 15" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">

  </div>
  <ed-masonry-data-listing [datas]="this.datas"></ed-masonry-data-listing>
</div>
