<mat-card fxLayout.gt-md="row" fxLayout.lt-md="column" *ngFor="let media of this.medias; let i = index;" class="margin-bottom-15">
  <div fxFlex="55" class="padding-right-15">
    <mat-form-field class="display-block">
      <input matInput placeholder="Title" [(ngModel)]="media.title" (keyup)="addVideoLink(i)">
    </mat-form-field>
    <mat-form-field class="display-block">
      <input matInput placeholder="Link" [(ngModel)]="media.link" (keyup)="addVideoLink(i)">
    </mat-form-field>
  </div>
  <div fxFlex="45" class="padding-right-15 position-relative">
    <ed-youtube-embeder [url]="media.link" [fullHeight]="false" *ngIf="media.type.includes('video')"></ed-youtube-embeder>
    <img [src]="media.link" *ngIf="media.type.includes('image')" style="max-width: 100%">
    <button mat-mini-fab color="warn" class="position-absolute" style="right: 0; bottom: 0;"
            *ngIf="media.link" (click)="removeVideo(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>

<mat-card fxLayout="row" class="margin-bottom-15 pointer" style="justify-content: center" (click)="addNewVideo()">
  <button mat-mini-fab color="primary" >
    <mat-icon>add</mat-icon>
  </button>
</mat-card>
<ed-upload-image-area (uploadedFileChange)="handleUploadedFile($event)"></ed-upload-image-area>


