<div class="container">
  <h1 class="text-align-center margin-top-12">Tags</h1>
  <mat-tab-group>
    <mat-tab [label]="type.type" *ngFor="let type of allTypes; let typeIndex = index">
      <div class="padding-left-5 padding-right-5">
        <mat-card class="margin-top-7 margin-bottom-7">
          <div fxLayout="row">
            <div fxFlex class="padding-right-15">
              <mat-form-field class="display-block">
                <input matInput placeholder="New tag" [(ngModel)]="newTags[typeIndex].tag">
              </mat-form-field>
            </div>
            <div class="margin-right-15">
              <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                      class="centered-block" (click)="newTags[typeIndex].favorite = !newTags[typeIndex].favorite">
                <mat-icon *ngIf="newTags[typeIndex].favorite">star</mat-icon>
                <mat-icon *ngIf="!newTags[typeIndex].favorite">star_border</mat-icon>
              </button>
            </div>
            <div>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                      class="centered-block" (click)="saveTagNewTag(typeIndex)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
        <mat-card *ngFor="let tag of filterTagsByType(allTags, type); let i = index;" class="margin-top-7 margin-bottom-7">
          <div fxLayout="row">
            <div class="margin-right-15">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon"
                      class="centered-block" (click)="deleteTag(tag)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div fxFlex class="padding-right-15">
              <mat-form-field class="display-block">
                <input matInput placeholder="Tag" [(ngModel)]="tag.tag">
              </mat-form-field>
            </div>
            <div class="margin-right-15">
              <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                      class="centered-block" (click)="switchFavorite(tag)">
                <mat-icon *ngIf="tag.favorite">star</mat-icon>
                <mat-icon *ngIf="!tag.favorite">star_border</mat-icon>
              </button>
            </div>
            <div>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                      class="centered-block" (click)="saveTag(tag)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
