<div class="container" *ngIf="this.currentUser && this.currentUser.prefHome && this.currentUser.prefHome.length > 0">
  <h1 class="text-align-center margin-top-40 font-weight-bold">Actualité</h1>
  <mat-tab-group (selectedTabChange)="changeCurrentTag($event)">
    <mat-tab [label]="this.currentUser.prefHome[i].tag" *ngFor="let data of this.currentUser.prefHome; let i = index;">
      <div class="padding-left-5 padding-right-5 padding-top-15">
        <ed-data-listing [datas]="datas[i]"></ed-data-listing>
      </div>
    </mat-tab>
  </mat-tab-group>
  <ed-load-more-button [displayLoading]="this.loading" (clickButton)="extendData()" [displayButton]="!this.over[currentTag]"></ed-load-more-button>
</div>

<div class="container" *ngIf="!this.currentUser.prefHome || this.currentUser.prefHome.length === 0">
  <div style="margin-top: calc(50vh - 220px);" class="text-align-center">
    <h1 class="text-align-center margin-top-40 margin-bottom-15 font-weight-bold">Welcome on ezDebate</h1>
    <div class="margin-top-15">
      <button mat-flat-button [routerLink]="'/research'">
        <mat-icon class="display-inline-block">search</mat-icon>
        <h3 class="display-inline-block margin-left-15">Start searching</h3>
      </button>
    </div>
    <div class="margin-top-15">
      <button mat-flat-button [routerLink]="'/settings'">
        <mat-icon class="display-inline-block">settings</mat-icon>
        <h3 class="display-inline-block margin-left-15">Configure your homepage</h3>
      </button>
    </div>

    <!--    <div fxLayout="row" class="margin-top-40">-->
    <!--      <div fxFlex.gt-sm="50" class="text-align-center pointer">-->
    <!--        <mat-icon>search</mat-icon>-->
    <!--        <h3>Start searching</h3>-->
    <!--      </div>-->
    <!--      <div fxFlex.gt-sm="50" class="text-align-center pointer">-->
    <!--        <mat-icon>settings</mat-icon>-->
    <!--        <h3>Configure my homepage</h3>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
