<div class="w100">
  <mat-form-field class="w100">
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)">
        {{tag.tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Add tags ..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addOption($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag.tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div fxLayout="row" *ngFor="let type of allTypes">
    <div fxFlex="100">
      <h5>#{{ type.type }}</h5>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of this.filterTagsByType(favorites, type)" (click)="addTag(tag)" class="pointer">
          {{tag.tag}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
