.vertical-video-carousel-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  transition-delay: 800ms;
  scroll-behavior: smooth;
}

.translateY-50 {
  transform: translateY(-50%);
}
