<mat-toolbar color="primary" class="position-fixed z-index-1000000">
  <a [routerLink]="['/home']" mat-button color="link" class="font-size-100-percent">
    <i class="fas fa-balance-scale-right"></i>
    ezDebate</a>

  <span class="fill-remaining-space"></span>

  <span ngClass.lt-md="display-none">
    <a [routerLink]="['/home']" mat-button color="link" class="font-rubik">
      <mat-icon>home</mat-icon>
    </a>
    <a [routerLink]="['/tags']" mat-button color="link" class="font-rubik">
      <mat-icon>label</mat-icon>
    </a>
    <a [routerLink]="['/research']" mat-button color="link" class="font-rubik">
      <mat-icon>search</mat-icon>
    </a>
    <button mat-mini-fab color="link" class="font-rubik animated margin-left-15" (click)="signOut()">
      <mat-icon class="font-color-primary">login</mat-icon>
      <label class="pointer font-color-primary">Logout</label>
    </button>
  </span>


  <span ngClass.gt-sm="display-none">
    <button mat-icon-button aria-label="Example icon-button with a menu" (click)="openMenu()">
      <mat-icon>more_vert</mat-icon>
    </button>
<!--    <mat-menu #menu="matMenu" style="position: relative; z-index: 2000;">-->
<!--      <button mat-menu-item [routerLink]="'/home'">-->
<!--        <mat-icon>home</mat-icon>-->
<!--        <span>Home</span>-->
<!--      </button>-->
<!--      <button mat-menu-item [routerLink]="'/research'">-->
<!--        <mat-icon>search</mat-icon>-->
<!--        <span>Search</span>-->
<!--      </button>-->
<!--      <button mat-menu-item [routerLink]="'/create'">-->
<!--        <mat-icon>add</mat-icon>-->
<!--        <span>Create</span>-->
<!--      </button>-->
<!--    </mat-menu>-->
  </span>
</mat-toolbar>

