<div #verticalVideoCarouselContainer class="vertical-video-carousel-container hide-scroll" [ngStyle]="{'height': this.containerWidth*(this.width/100)*(9/16) + 'px'}" (scroll)="scrolling($event)" (swipeleft)="toRight()" (swiperight)="toLeft()">
  <div [ngStyle]="{'width': getMargin() + '%'}" class="display-inline-block"></div>
  <div class="display-inline-block vertical-video-carousel-element h100" [ngStyle]="{'width': this.width + '%'}" *ngFor="let video of videos; let index = index;">
    <ed-video-embeder [video]="video.link" class="pointer" (click)="openFullSizeVideo(video.link)"></ed-video-embeder>
<!--    <ed-video-thumbnail [video]="video.link"></ed-video-thumbnail>-->
  </div>
  <div [ngStyle]="{'width': getMargin() + '%'}" class="display-inline-block"></div>
</div>
<button mat-mini-fab color="primary" class="translateY-50 position-relative float-right margin-right-15 z-index-1000000" [ngStyle]="{'top': -this.containerWidth*(this.width/100)*(9/16)/2 + 'px;'}" (click)="toRight()" *ngIf="displayRightButton()"><i class="fas fa-angle-right"></i></button>
<button mat-mini-fab color="primary" class="translateY-50 position-relative float-left margin-left-15 z-index-1000000" [ngStyle]="{'top': -this.containerWidth*(this.width/100)*(9/16)/2 + 'px;'}" (click)="toLeft()" *ngIf="displayLeftButton()"><i class="fas fa-angle-left"></i></button>
