<div #verticalVideoCarouselContainer class="vertical-video-carousel-container hide-scroll overflow-hidden" [ngStyle]="{'height': this.containerWidth*(this.width/100)*(9/16) + 'px'}" (scroll)="scrolling($event)" (swipeleft)="toRight()" (swiperight)="toLeft()">
  <div [ngStyle]="{'width': getMargin() + '%'}" class="display-inline-block"></div>
  <div class="display-inline-block h100" [ngStyle]="{'width': this.width + '%'}" *ngFor="let media of videos; let index = index;" style="vertical-align: top;">
<!--    <ed-video-embeder [video]="media.link" class="pointer" (click)="openFullSizeVideo(media.link)" *ngIf="media.type === 'video'"></ed-video-embeder>-->
    <ed-youtube-embeder [url]="media.link" *ngIf="media.type === 'video'" class="w100 h100"></ed-youtube-embeder>
    <img [src]="media.link" *ngIf="media.type.includes('image')" class="w100">
  </div>
  <div [ngStyle]="{'width': getMargin() + '%'}" class="display-inline-block"></div>
</div>
<button mat-mini-fab color="primary" class="translateY-50 position-relative float-right margin-right-15 z-index-1000000" [ngStyle]="{'top': -this.containerWidth*(this.width/100)*(9/16)/2 + 'px;'}" (click)="toRight()" *ngIf="displayRightButton()"><i class="fas fa-angle-right"></i></button>
<button mat-mini-fab color="primary" class="translateY-50 position-relative float-left margin-left-15 z-index-1000000" [ngStyle]="{'top': -this.containerWidth*(this.width/100)*(9/16)/2 + 'px;'}" (click)="toLeft()" *ngIf="displayLeftButton()"><i class="fas fa-angle-left"></i></button>
